* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.row {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    flex-basis: 342px;
    border: 1px solid black;
}

.card {
    border: 1px solid red;


}

.info {
    display: flex;
    flex-direction: column;

}

.flag {
    max-width: 40px;
}